.form {
  display: flex;
  border-top: 2px solid rgba(211, 211, 211, 0.74);
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
  border-radius: 4px 4px 0 0;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(to right, #bc4e9c, #f80759); /* Chrome 10-25, Safari 5.1-6 */
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}